.gradient-custom {
    margin: auto 20px;
    background-image: url("../../../public/img/banner1.jpg");
    background-size: cover;
}

.gradient-custom input {
    display: block;
    width: 100%;
    border: 1px solid #ced4da;
    padding-left: 2rem;
}

.gradient-custom input:focus {
    border: 1px solid #ced4da;


}

.gradient-custom input::placeholder {
    /* padding-left: 2rem; */
}